{% extends 'base.html' %}

{% block content %}
    <h1 class="page-header">Books</h1>

    <!-- BUTTON TO TRIGGER THE ACTION -->
    <p>
        <button type="button" class="btn btn-primary js-create-book">
            <span class="glyphicon glyphicon-plus"></span>
            New book
        </button>
    </p>

    <table class="table" id="book-table">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th>Type</th>
            <th>Publication date</th>
            <th>Pages</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
            {% include 'account/includes/partial_book_list.html' %}
        </tbody>
    </table>


    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal fade" id="modal-book">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}
{% block extrascripts %}
    <script type="text/javascript">
        $(function () {

            $(".js-create-book").click(function () {
               $.ajax({
                   url: '{% url 'book_create' %}',
                   type: 'get',
                   dataType: 'json',
                   beforeSend: function () {
                       $('#modal-book').modal("show");
                   },
                   success: function (data) {
                       $('#modal-book .modal-content').html(data.html_form);
                   }
               })
            })


             $("#modal-book").on("submit", ".js-book-create-form", function () {
                 var form = $(this)
                 $.ajax({
                     url: form.attr('action'),
                     data: form.serialize(),
                     type: form.attr('method'),
                     dataType: 'json',
                     success: function (data) {
                         console.log(data.form_is_valid)
                         if (data.form_is_valid) {
                             $("#book-table tbody").html(data.html_book_list); // <-- Replace the table body
                             $("#modal-book").modal("hide"); // <-- Close the modal
                         }
                         else {
                             $('#modal-book .modal-content').html(data.html_form);
                         }
                     }
                 })
                 return false;
             });


        }) // close tag function
    </script>
{% endblock extrascripts %}